<%- include('header') %>

<div class="box" id="heading">
    <h1><%= currentDate %></h1>
</div>
<div class="box">
    <% todoList.map((todoItem) => { %>
    <form action="/checkItem" method="post">
        <div class="item">
            <input type="checkbox" name="checkboxItem" value="<%= todoItem._id %>" onchange="this.form.submit()">
            <p><%= todoItem.description %> </p>
        </div>
    </form>
    <% }) %>

    <form class="item" action="/" method="post">
        <input type="text" name="newTodo" placeholder="Insert a description..." autocomplete="off" required autofocus>
        <button type="submit">+</button>
    </form>
</div>

<%- include ('footer') %>
